// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.jiathis_style{
  margin-bottom: -10px;
  margin-left: 200px;
  @media screen and (max-width: 800px){
    margin-left: 0;
  }
}
